.hidden {
    display: none;
}

.hem {
    height: 1em;
}

.center {
    text-align: center;
}

.mt25 {
    margin-top: 25px;
}

.mt50 {
    margin-top: 50px;
}

.fs80, footer {
    font-size: 80%;
}

header, article, footer {
    margin-top: 25px;
    margin-bottom: 25px;
}

article div.width-help span {
    width: 60px;
}